*{
margin:o;
padding:o;
}
bady{
background:#cccccc;
}
p{
 tent-align:center
 font-size:2opx
}
#missão{
 font-size:30px;
text - align:center;
}
em strong {
 color:pink;
 #nanner{
  width:100%;
 }
h1{
}
text-align:center;
