*{
margin:o;
padding:o;
}
bady{
:#cccccc;
}
p{
 tent-align:center
 font-size:2opx
}
#missão{
 font-size:30px;
text - align:center;
}
em strong {
 color:pink;
 #banner{
  width:100%;
 }
.principalbackground
 background:#cccccc;
 podding:30px;
h1{
}
text-align:center;
.itens{
 font-style:italic;
}
 .beneficios {
  background:#FFFFFF;
  PODDING:20PX;
 }
 H2{
  TEXT-ALIGN:CENTER;
 }
 il{
   display:inlane-block;
  vertical-align: top;
  width:20%;
  margin-right:15%;
 }
 .imagem-beneficios{
  with:50%
 }
h1{
 text-align:center;
}
 .titulo-principal{
  padding-left:20px;
 }
 .titulo-secundario{
  text-align:center;
 }
